@namespace IFS.DB.WebApp.Shared.BaseComponents.QuickGrid

<div class="paginator">
    @if (Value.TotalItemCount.HasValue)
    {
        <div class="paginator-pagination">
            @if (CanGoBack)
            {
                <div class="paginator-pagination-left" @onclick="GoPreviousAsync">
                    <img class="icon" src="/img/icons/arrowLeftIcon.svg" alt="arrowleft"/>
                    <img class="iconHover" src="/img/icons/arrowLeftHoverIcon.svg" alt="arrowleft"/>
                </div>
            }
            else
            {
                <div class="paginator-pagination-left">
                    <img class="icon" src="/img/icons/arrowLeftIcon.svg" alt="arrowleft"/>
                    <img class="iconHover" src="/img/icons/arrowLeftHoverIcon.svg" alt="arrowleft"/>
                </div>
            }
            @for (var index = 0; index <= Value.LastPageIndex.Value; index++)
            {
                var temp = index;
                <button
                    class="paginator-pagination-button @(temp == Value.CurrentPageIndex ? "paginator-pagination-button--active" : string.Empty)"
                    @onclick="async () => await GoToPageAsync(temp)">
                    @(index + 1)
                </button>
            }
            @if (CanGoForwards)
            {
                <div class="paginator-pagination-right" @onclick="GoNextAsync">
                    <img class="icon" src="/img/icons/arrowLeftIcon.svg" alt="arrowRight"/>
                    <img class="iconHover" src="/img/icons/arrowLeftHoverIcon.svg" alt="arrowRight"/>
                </div>
            }
            else
            {
                <div class="paginator-pagination-right">
                    <img class="icon" src="/img/icons/arrowLeftIcon.svg" alt="arrowRight"/>
                    <img class="iconHover" src="/img/icons/arrowLeftHoverIcon.svg" alt="arrowRight"/>
                </div>
            }
        </div>

        <div>
            @* <button class="paginator-button">Load more</button> *@
            <div class="paginator-pagination-pagesize">
                <span class="paginator-pagination-pagesize__text">&nbsp; Display &nbsp;</span>
                <div class="paginator-pagination-pagesize__select" >
                    <DropdownComponent TItem="int"
                                       OnSelectedItem="@SetPageSize">
                        <InitialTip>@Value.ItemsPerPage</InitialTip>
                        <DropdownChildContent>
                            @foreach (var value in Value.PageSizes)
                            {
                                <DropdownItemComponent TItem="int" Item="@value" Context="_">
                                    <DropdownItemChildContent>@(value.ToString())</DropdownItemChildContent>
                                </DropdownItemComponent>
                            }
                        </DropdownChildContent>
                    </DropdownComponent>
                </div>
                <span class="paginator-pagination-pagesize__text">&nbsp; items per page. &nbsp;</span>
            </div>
        </div>
    }

</div>