<strong>@_localizer["language"]</strong>
<select class="form-control" @bind="Culture" style="width:300px; margin-left:10px;">
    @foreach (var culture in _listCultures)
    {
        <option value="@culture">@GetCountryEnglishName(culture.Name)</option>
        @*<option value="@culture">@culture.NativeName</option>*@
    }
</select>