@using IFS.DB.WebApp.Helpers.CompnentConfiguration.DataGrid
@using IFS.DB.WebApp.Models.Transactions


<div>    
    <div>        
        <label style="float:left;">Search: </label>
        <input id="searchBox" @oninput="@OnSearchDataChanged" @onchange="@OnSearchDataChanged"></input>
    </div>
</div>
<DataGridComponent @ref="_dataSourceGrid" TItem="TransactionModel"
                   Columns="_columnsDefinition"
                   DataItems="@_upcomingTransactionModel.UpcomingTransactions"
                   TotalItems="_upcomingTransactionModel.TotalRecords"
                   CurrentPageNumber="@_pageIndex"
                   OnPageSizeChangedCallback=@OnPageSizeChanged
                   OnSortDataChangedCallback=@OnSortDataChanged
                   CustomPageSize=@CustomPageSize
                   PagingConfig=@_pagingConfig>
    <CustomHtmlPager>
        <div class="paginator">
            <div class="paginator-pagination">
                <div class="paginator-pagination-left">
                    @if (_pageIndex == 0 || _pageIndex == 1)
                    {
                        <span disabled><img class="icon" src="/img/icons/arrowLeftIcon.svg" alt="arrowleft" /></span>
                        <span disabled><img class="iconHover" src="/img/icons/arrowLeftHoverIcon.svg" alt="arrowleft" /></span>
                    }
                    else
                    {
                        <span @onclick="@OnPrevPageChanged"><img class="icon" src="/img/icons/arrowLeftIcon.svg" alt="arrowleft" /></span>
                        <span @onclick="@OnPrevPageChanged"><img class="iconHover" src="/img/icons/arrowLeftHoverIcon.svg" alt="arrowleft" /></span>
                    }
                </div>
                @for (int index = 1; index <= _dataSourceGrid.TotalPages; index++)
                {
                    int _temp = index;
                    @if (_pageIndex.Equals(_temp))
                    {
                        <button class="paginator-pagination-button paginator-pagination-button--active" @onclick=@(() => OnPageIndexChanged(@_temp))>@_temp</button>
                    }
                    else
                    {
                        <button class="paginator-pagination-button" @onclick=@(() => OnPageIndexChanged(@_temp))>@_temp</button>
                    }
                }
                <div class="paginator-pagination-right">
                    @if (_pageIndex == @_dataSourceGrid.TotalPages)
                    {
                        <span disabled><img class="icon" src="/img/icons/arrowLeftIcon.svg" alt="arrowRight" /></span>
                        <span disabled><img class="iconHover" src="/img/icons/arrowLeftHoverIcon.svg" alt="arrowRight" /></span>
                    }
                    else
                    {
                        <span @onclick="@OnNextPageChanged"><img class="icon" src="/img/icons/arrowLeftIcon.svg" alt="arrowRight" /></span>
                        <span @onclick="@OnNextPageChanged"><img class="iconHover" src="/img/icons/arrowLeftHoverIcon.svg" alt="arrowRight" /></span>
                    }

                </div>
            </div>

            <div>
                <button class="paginator-button" @onclick="@GotoTransactionPage">Load more</button>
            </div>
        </div>
    </CustomHtmlPager>
</DataGridComponent>