@layout LogonLayout
@page "/"
@page "/individual-signin"

<EditForm id="individualSigninForm" EditContext="@_editContext" OnSubmit="@(() => SignIn())">
    <DataAnnotationsValidator />
    <div class="auth-layout">
        <div class="auth-container">
            <div class="auth">
                <p class="auth__title">@_localizer["signin"]</p>
                <div class="auth-box">
                    <div class="auth-box-main">
                        <p class="auth-box-main__title">@_localizer["signin_title"]</p>
                        <div class="auth-box-main__subtitle">
                            <p class="auth-box-main__subtitle-text">@_localizer["signin_notification_msg"]</p>
                            <div class="auth-box-main__subtitle-info">
                                <img src="/img/icons/tooltipIcon.svg" alt="tooltip" class="payments-header__tooltip-icon" />
                            </div>
                        </div>
                        <div class="auth-box-form">
                            <div class="formgroup">
                                <label>@_localizer["customer_id"]</label>
                                <div class="input-layout">
                                    <InputText id="txtCustomerID" class="input" @bind-Value="@_userSignInModel.CustomerID" />
                                </div>
                                <CustomValidationMessage For="@(() => _userSignInModel.CustomerID)" />
                            </div>
                        </div>
                        <PasswordComponent></PasswordComponent>
                        <PinComponent></PinComponent>
                        <div class="auth-box-form__footer">
                            <button type="button" class="auth-box-form__footer-forgot">@_localizer["question_forgot_security_details"]</button>
                            <button type="submit" class="auth-box-form__footer-next">Sign in</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>