@typeparam TItem

<div @ref=@_dropdownItemEle id="@ElementId" class="customSelector-dropdown-item @CssClass" style="@InlineStyle"
     @onmouseup="@(() => DropdownComponent.ToggleDropdownDefaultItemComponentAsync(this, ChildContent, TValue))"
     @onmousedown="() => {}"
     @onmousedown:stopPropagation
     @attributes="@Attributes">
    @ChildContent(TValue)
</div>