@using IFS.DB.WebApp.Helpers.Enums
<div class="auth-layout">
    <div class="auth-container">
        <div class="auth">
            <p class="auth__title">@L["sign_in"]</p>
            <div class="auth-box">
                <div class="auth-box-header">
                    <div class="auth-box-header__item " @onclick="GoToStep(CorporateSignInEnum.SigninStepsEnum.FirstStep)">@L["step"] 1</div>
                    <div class="auth-box-header__item " @onclick="GoToStep(CorporateSignInEnum.SigninStepsEnum.SecondStep)">@L["step"] 2</div>
                    <div class="auth-box-header__item " @onclick="GoToStep(CorporateSignInEnum.SigninStepsEnum.ThirdStep)">@L["step"] 3</div>
                    <div class="auth-box-header__item active">@L["step"] 4</div>
                </div>
                <div class="auth-box-main">
                    <p class="auth-box-main__title">@L["security_details"]</p>
                    <div class="auth-box-main__subtitle">
                        <p class="auth-box-main__subtitle-text">@L["user_name"]: <b>Jane Watson</b></p>
                        <div class="auth-box-main__subtitle-info" style="cursor: pointer" @onclick="@(() => _jsRuntime.InvokeVoidAsync("open", "http://support.ifinancial.systems/help/ibank/v8/ibankhome.htm", "_blank",  "height=780,width=540"))">
                            <img src="/img/icons/tooltipIcon.svg" alt="tooltip" class="payments-header__tooltip-icon" />
                        </div>
                    </div>
                    <PasswordComponent 
                        PasswordLength="Password.Length"
                        @bind-PasswordDict="_passwordDict"
                        IsSubmitting="_isSubmitting"
                        ShowInvalid="_showInvalid"
                        @ref="_passwordComponentRef"
                        />
                    
                    <PinComponent
                        IsSubmitting="_isSubmitting"
                        @bind-Codes="_passCodes"
                        ShowInvalid="_showInvalid"/>
             
                    <div class="auth-box-form__footer">
                        <button type="button" class="auth-box-form__footer-back" @onclick="(() => ButtonBack_OnClick())">@L["back"]</button>
                        <div>
                            <button type="button" class="auth-box-form__footer-forgot">@L["forgot_security_details"]</button>
                            <button type="button" class="auth-box-form__footer-next" @onclick="(() => ButtonSubmit_OnClick())">@L["sign_in"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
