<div class="modal-layout" id="uploadModal">
    <div class="modal-scroll">
        <div class="modal-background" @onclick=@CancelAsync></div>
        <div class="common-modal-layout">
            <div class="common-modal">
                <div class="common-modal-header-wrapper">
                    <div class="common-modal-header">
                        <p class="common-modal-header__title">
                            Upload your photo
                        </p>
                        <div class="common-modal-header__icon" @onclick=@CancelAsync>
                            <img class="icon" src="/img/icons/closeIcon.svg" alt="close" />
                            <img class="iconHover" src="/img/icons/closeIconHover.svg" alt="close" />
                        </div>
                    </div>
                </div>
                <div class="common-modal-main">
                    <EditForm EditContext=@_editContext>
                        <div class="common-modal-main-info-card">
                            <div>
                                <p>Upload a photo @string.Join(", ", _acceptedFileTypes).</p>
                                <p>@_maxFileSizeMB MB max</p>
                            </div>
                            <div class="file-drop-zone @_hoverClass">
                                @if (_isUploaded)
                                {
                                    <div class="image-container">
                                        <img src="@_fileBase64Encode" />
                                    </div>
                                }

                                <InputFile @ref=@_inputFile id="input-file" accept="@(string.Join(", ", _acceptedFileTypes))"
                                           OnChange=@OnFileChange @ondragenter=@OnDragEnter @ondragleave=@OnDragLeave></InputFile>
                                <div>
                                    <p>Drag & drop a file or <label for="input-file" class="btn-input-file">UPLOAD</label></p>
                                </div>
                            </div>
                        </div>
                    </EditForm>

                    @if (_fileTypeError)
                    {
                        <div class="input-error">Please upload a new photo, accepted file type: @(string.Join(",", _acceptedFileTypes)).</div>
                    }

                    @if (_fileSizeError)
                    {
                        <div class="input-error">file length is @_fileSize bytes, it is larger than the limit of @_maxAllowFileSize bytes</div>
                    }

                </div>
                <div class="common-modal-footer">
                    <button class="common-modal-footer__buttonCancel" type="button" @onclick=@CancelAsync>
                        Cancel
                    </button>

                    <button class="common-modal-footer__buttonSuccess" type="button" @onclick=@OkAsync>
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>