@layout MainLayout
@page "/payments"

<div class="payments-layout">
    <div class="payments-container">
        <div class="payments">
            <div class="payments-header">
                <div class="payments-header-wrapper">
                    <img src="/img/transactionTable/payment.svg" alt="logo" class="payments-header__logo" />
                    <p class="payments-header__title">Payments</p>
                    <img src="/img/icons/tooltipIcon.svg" alt="tooltip" class="payments-header__tooltip-icon" />
                </div>

                <div>
                    <button class="payments-header__button" onclick="location.href='/transfers'">Make Transfer <img
                            src="/img/icons/arrowRight.svg" alt="arrow" /></button>
                </div>
            </div>
            @if (_createPaymentContext != null)
            {
                 <EditForm id="createPaymentContext" EditContext="@_createPaymentContext" OnInvalidSubmit="@InvalidSubmit" OnValidSubmit="@CreatePayment">
                    <DataAnnotationsValidator />

                    <div class="payments-main">
                        <div class="payments-main__left">
                            <div class="payments-new">
                                <p class="payments-new__title">New Payment</p>
                                <div class="payments-new-payee">
                                    <div class="formgroup payments-new-payee-selector">
                                        <label>Pay to</label>
                                        <div class="select-layout">
                                            <InputSelect ValueExpression="@(() => _createPaymentModel.TemplateRefernce)"
                                                     Value="@_createPaymentModel.TemplateRefernce"
                                                     ValueChanged="@((string value) => OnSelectedPayeeChanged(value))"
                                                     class="select" id="payeeSelector">
                                                <option value="">Select classification ...</option>
                                                @foreach (var item in _listPayees)
                                                {
                                                    <option value="@item.Name">@item.Name</option>
                                                }
                                            </InputSelect>
                                        </div>
                                        <CustomValidationMessage For="@(() => _createPaymentModel.TemplateRefernce)"></CustomValidationMessage>
                                        @*<PayeeSelectionComponent />*@
                                    </div>
                                    <div class="formgroup payments-new-payee-create">
                                        <p class="formgroup payments-new-payee-create__text">or</p>
                                        <button class="payments-new-payee-create__button"
                                            onclick="onTriggerModalNewPayee()">Create new Payee</button>

                                        <NewPayeeModalComponent />
                                    </div>
                                </div>
                                <p class="payments-new-payee-selector__text">Please select an account to credit.</p>
                            </div>

                            <div class="payments-details">
                                <p class="payments-details__title" id="details">To see this details please select Payee first
                                </p>
                                <div class="payments-details-item-wrapper">
                                    <div class="payments-details-item">
                                        <p class="payments-details-item__label">Template reference</p>
                                        <p class="payments-details-item__body" id="text">@_selectedPayee.Name</p>
                                    </div>
                                    <div class="payments-details-item">
                                        <p class="payments-details-item__label">Debit Account</p>
                                        <p class="payments-details-item__body" id="type">@_selectedPayee.DebitAccount</p>
                                    </div>
                                    <div class="payments-details-item">
                                        <p class="payments-details-item__label">Payment type</p>
                                        <p class="payments-details-item__body" id="account">@_selectedPayee.Type</p>
                                    </div>
                                    <div class="payments-details-item">
                                        <p class="payments-details-item__label">Payment Method</p>
                                        <InputSelect @bind-Value="@_createPaymentModel.PaymentMethod"
                                                     class="select payments-details-item__selector" id="detailsSelector">
                                            <option value="">Select a method</option>
                                            @foreach (var item in _listPaymentMethods)
                                            {
                                            <option value="@item.Name">@item.Name</option>
                                            }
                                        </InputSelect>
                                        <p class="payments-details-item__body" id="method"></p>
                                        <CustomValidationMessage For="@(() => _createPaymentModel.PaymentMethod)"></CustomValidationMessage>
                                    </div>
                                </div>
                            </div>

                            <div class="payments-information">
                                <p class="payments-information__title">Payment information</p>
                                <div class="payments-information-form">
                                    <div class="formgroup payments-information-form__selector">
                                        @*<AccountSelectionComponent />*@
                                        <label>From</label>
                                        <div class="select-layout">
                                            <InputSelect @bind-Value="_createPaymentModel.PaymentFrom" class="select">
                                                <option value="">Select an account</option>
                                                @foreach (var item in _listAccounts)
                                                {
                                                <option value="@item.AccountNumber">@item.AccountDetails</option>
                                                }
                                            </InputSelect>
                                        </div>
                                        <CustomValidationMessage For="@(() => _createPaymentModel.PaymentFrom)"></CustomValidationMessage>
                                    </div>
                                    <div class="formgroup">
                                        <label>Credit amount</label>
                                        <div class="input-layout formgroup">
                                            <AmountComponent @bind-Value="@_createPaymentModel.CreditAmount" class="input payments-information-form__amount"/>
                                        </div>
                                        <CustomValidationMessage For="@(() => _createPaymentModel.CreditAmount)"></CustomValidationMessage>
                                    </div>
                                    <div class="formgroup">
                                        <label>Payment date</label>
                                        <div class="input-layout">
                                            <InputDate @bind-Value="_createPaymentModel.PaymentDate" class="input" />
                                        </div>
                                        <CustomValidationMessage For="@(() => _createPaymentModel.PaymentDate)"></CustomValidationMessage>
                                        @*<DateComponent />*@
                                    </div>
                                </div>
                                <p class="payments-new-payee-selector__text">Please select an account from which you wish the
                                    funds to be taken.</p>
                                <div class="formgroup payments-information-form__textarea">
                                    <label>Payment Reference</label>
                                    <div class="input-layout">
                                        <InputTextArea placeholder="Enter here" class="input" @bind-Value="_createPaymentModel.PaymentReference"></InputTextArea>
                                    </div>
                                    <CustomValidationMessage For="@(() => _createPaymentModel.PaymentReference)"></CustomValidationMessage>
                                </div>
                                <div class="formgroup payments-information-form__textarea">
                                    @*<NarrativeComponent />*@
                                    <label>Debit Narrative</label>
                                    <div class="input-layout">
                                        <InputTextArea placeholder="Enter here" class="input" @bind-Value="_createPaymentModel.DebitNarrative"></InputTextArea>
                                    </div>
                                    <CustomValidationMessage For="@(() => _createPaymentModel.PaymentReference)"></CustomValidationMessage>
                                </div>

                                <div class="payments-information-form">
                                    <div class="payments-information-form__document-selector">
                                        <label>Type of document</label>
                                        <div class="select-layout">
                                            <InputSelect @bind-Value="@_createPaymentModel.TypeOfDocument"
                                                     class="select qwe" id="detailsSelector">
                                                <option value="">Select a type</option>
                                                <option value="Name and Address">Name and Address</option>
                                                <option value="Address">Address</option>
                                                <option value="Name">Name</option>
                                                <option value="CV">CV</option>
                                            </InputSelect>
                                        </div>
                                        <CustomValidationMessage For="@(() => _createPaymentModel.TypeOfDocument)"></CustomValidationMessage>
                                    </div>
                                    <div class="formgroup">
                                        <label>&nbsp;</label>
                                        <div class="input-layout">
                                            <FileUploader />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="payments-footer">
                                <button class="payments-footer__buttonCancel">Cancel</button>
                                <button type="submit" class="payments-footer__buttonSuccess">Proceed</button>
                            </div>


                            <ConfirmPayeeModalComponent />

                            <Confirm2FAModalComponent />

                            <SuccessPayeeModalComponent />
                        </div>

                        <div class="payments-main__right">
                            <PaymentsHistoryComponent />
                        </div>
                    </div>
                </EditForm>              
            }            
        </div>
    </div>
</div>