<div class="profile-main">
    <EditForm id="_profileLoginAndPasswordEditContextId"
              style="min-height: 100vh;display: contents;"
              EditContext="@_profileLoginAndPasswordEditContext"
              OnValidSubmit=@OnValidSubmit_Click
              OnInvalidSubmit=@OnInvalidSubmit_Click>
        <DataAnnotationsValidator></DataAnnotationsValidator>

        <div class="profile-main__content">
            <p class="profile-main__title">Login and Password</p>

            <div class="profile-main-formblock">
                <p class="profile-main-formblock__title">Login</p>
                <div class="profile-main-formrow formrow">
                    <div class="profile-main-formgroup formgroup">
                        <label>New Customer ID</label>
                        <div class="input-layout">
                            <InputText placeholder="Enter here" class="input" @bind-Value="@_changeLoginInfoRequestModel.CustomerID" />
                        </div>
                    </div>
                    <div class="profile-main-formgroup formgroup">
                        <label>Confirm Customer ID</label>
                        <div class="input-layout">
                            <InputText placeholder="Enter here" class="input" @bind-Value="@_changeLoginInfoRequestModel.ConfirmCustomerID" />
                        </div>
                        <CustomValidationMessage For="@(() => _changeLoginInfoRequestModel.ConfirmCustomerID)"></CustomValidationMessage>
                    </div>
                    <div class="profile-main-formgroup formgroup">
                        <label>Current Password</label>
                        <div class="input-layout">
                            <InputText type="@(_showPassword ? "text" : "password")" placeholder="Enter here" class="input" @bind-Value="@_changeLoginInfoRequestModel.CurrentPassword" />
                        </div>
                        <p class="formgroup__caption">To confirm action please enter your current password</p>

                        <CustomValidationMessage For="@(() => _changeLoginInfoRequestModel.CurrentPassword)"></CustomValidationMessage>
                    </div>
                </div>
            </div>            
        </div>

        <div class="profile-main__footer">
            @if (isSuccess)
            {
                <p class="profile-main__footer-message">
                    <img src="/img/icons/check.svg" alt="check" />
                    Password were saved
                </p>
            }

            <button type="button" class="profile-main__footer-button" @onclick=@ShowChangePasswordModalAsync>Change Password</button>
            <button type="submit" class="profile-main__footer-button">Save updates</button>
        </div>
    </EditForm>
</div>